## HOLIDAYS

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
holidays = pd.read_csv("data/us-federal-holidays-2011-2020.csv")

In [3]:
data2.head()

         Date                              Holiday
0  12/31/2010                       New Year's Day
1   1/17/2011  Birthday of Martin Luther King, Jr.
2   2/21/2011                Washington's Birthday
3   5/30/2011                         Memorial Day
4    7/4/2011                     Independence Day

In [4]:
print(type(data2))

<class 'pandas.core.frame.DataFrame'>

In [5]:
data2.dtypes

Date       object
Holiday    object
dtype: object

In [6]:
print(min(data2["Date"]))
print(max(data2["Date"]))

1/1/2013
9/7/2020

In [7]:
# Conversion objet 'date' en datetime format
data2['Date'] = pd.to_datetime(data2['Date'])

In [12]:
data2.head(10)

        Date                              Holiday
0 2010-12-31                       New Year's Day
1 2011-01-17  Birthday of Martin Luther King, Jr.
2 2011-02-21                Washington's Birthday
3 2011-05-30                         Memorial Day
4 2011-07-04                     Independence Day
5 2011-09-05                            Labor Day
6 2011-10-10                         Columbus Day
7 2011-11-11                         Veterans Day
8 2011-11-24                     Thanksgiving Day
9 2011-12-26                        Christmas Day

In [10]:
print(type(data2))

<class 'pandas.core.frame.DataFrame'>

In [14]:
df = data2[(data2['Date'] >= "2011-09-01") & (data2['Date'] <= "2013-03-05")]

                       Date                Holiday
count                    18                     18
unique                   18                     10
top     2012-11-22 00:00:00  Washington's Birthday
freq                      1                      2
first   2011-09-05 00:00:00                    NaN
last    2013-02-18 00:00:00                    NaN

In [11]:
data2.loc[data2['Date'] == "2010-12-31"]

        Date         Holiday
0 2010-12-31  New Year's Day

In [56]:
holi = pd.read_csv('data/HolidayDateList-Table 1.csv', delimiter=";")

In [57]:
holi.head(20)

,DAY_DATE,DAY_INT,HOLIDAY_NAME,WEEKDAY,HOLIDAY_DATE_SRC,IS_HOL,IS_FRB_BANK_OBS_HOL,IS_NYSE_OBS_HOL,IS_US_FEDERAL_OBS_HOL
0,1/1/10,20100101,New Year's Day,Friday,https://www.timeanddate.com/holidays/us/new-ye...,1,1,1,1
1,1/18/10,20100118,Martin Luther King Day,Monday,https://www.timeanddate.com/holidays/us/martin...,1,1,1,1
2,2/15/10,20100215,Presidents' Day,Monday,https://www.timeanddate.com/holidays/us/washin...,1,1,1,1
3,4/2/10,20100402,Good Friday,Friday,https://www.timeanddate.com/holidays/us/good-f...,1,0,1,0
4,5/31/10,20100531,Memorial Day,Monday,https://www.timeanddate.com/holidays/us/memori...,1,1,1,1
5,7/4/10,20100704,Independence Day,Sunday,https://www.timeanddate.com/holidays/us/indepe...,1,0,0,0
6,7/5/10,20100705,Independence Day (observed),Monday,https://www.timeanddate.com/holidays/us/indepe...,1,1,1,1
7,9/6/10,20100906,Labor Day,Monday,https://www.timeanddate.com/holidays/us/labor-day,1,1,1,1
8,10/11/10,20101011,Columbus Day,Monday,https://www.timeanddate.com/holidays/us/columb...,1,1,0,1
9,11/11/10,20101111,Veterans Day,Thursday,https://www.timeanddate.com/holidays/us/vetera...,1,1,0,1
10,11/25/10,20101125,Thanksgiving Day,Thursday,https://www.timeanddate.com/holidays/us/thanks...,1,1,1,1
11,12/24/10,20101224,Christmas Day (observed),Friday,https://www.timeanddate.com/holidays/us/christ...,1,0,1,1
12,12/25/10,20101225,Christmas Day,Saturday,https://www.timeanddate.com/holidays/us/christ...,1,0,0,0
13,12/31/10,20101231,New Year's Day (observed),Friday,https://www.timeanddate.com/holidays/us/new-ye...,1,0,0,1
14,1/1/11,20110101,New Year's Day,Saturday,https://www.timeanddate.com/holidays/us/new-ye...,1,0,0,0
15,1/17/11,20110117,Martin Luther King Day,Monday,https://www.timeanddate.com/holidays/us/martin...,1,1,1,1
16,2/21/11,20110221,Presidents' Day,Monday,https://www.timeanddate.com/holidays/us/washin...,1,1,1,1
17,4/22/11,20110422,Good Friday,Friday,https://www.timeanddate.com/holidays/us/good-f...,1,0,1,0
18,5/30/11,20110530,Memorial Day,Monday,https://www.timeanddate.com/holidays/us/memori...,1,1,1,1
19,7/4/11,20110704,Independence Day,Monday,https://www.timeanddate.com/holidays/us/indepe...,1,1,1,1

In [58]:
holi.dtypes

DAY_DATE                 object
DAY_INT                   int64
HOLIDAY_NAME             object
WEEKDAY                  object
HOLIDAY_DATE_SRC         object
IS_HOL                    int64
IS_FRB_BANK_OBS_HOL       int64
IS_NYSE_OBS_HOL           int64
IS_US_FEDERAL_OBS_HOL     int64
dtype: object

In [42]:
holi['DAY_DATE'] = pd.to_datetime(holi['DAY_DATE'])

In [60]:
holi2 = holi[['DAY_DATE', 'WEEKDAY', 'IS_HOL']]

In [61]:
holi2.head()

  DAY_DATE WEEKDAY  IS_HOL
0   1/1/10  Friday       1
1  1/18/10  Monday       1
2  2/15/10  Monday       1
3   4/2/10  Friday       1
4  5/31/10  Monday       1

In [64]:
holi2['DAY_DATE'] = pd.to_datetime(holi2['DAY_DATE'])

/Users/jordanvidal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
holi2.dtypes

DAY_DATE    datetime64[ns]
WEEKDAY             object
IS_HOL               int64
dtype: object

In [68]:
print(min(holi2['DAY_DATE']))
print(max(holi2['DAY_DATE']))

2010-01-01 00:00:00
2020-12-25 00:00:00

## SUPER BOWL

In [3]:
sb = pd.read_csv('data/Super_Bowl.csv', delimiter=';')
sb.head(25)

,Date,SB,Attendance,QB Winner,Coach Winner,Winner,Winning Pts,QB Loser,Coach Loser,Loser,Losing Pts,MVP,Stadium,City,State,Point Difference,Referee,Umpire,Head Linesman,Line Judge,Field Judge,Back Judge,Side Judge
0,15-Jan-67,I,61946,Bart Starr,Vince Lombardi,Green Bay Packers,35,Len Dawson,Hank Stram,Kansas City Chiefs,10,Bart Starr,Memorial Coliseum,Los Angeles,California,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14-Jan-68,II,75546,Bart Starr,Vince Lombardi,Green Bay Packers,33,Daryle Lamonica,John Rauch,Oakland Raiders,14,Bart Starr,Orange Bowl,Miami,Florida,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12-Jan-69,III,75389,Joe Namath,Weeb Ewbank,New York Jets,16,Earl Morrall; Johnny Unitas,Don Shula,Baltimore Colts,7,Joe Namath,Orange Bowl,Miami,Florida,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11-Jan-70,IV,80562,Len Dawson; Mike Livingston,Hank Stram,Kansas City Chiefs,23,Joe Kapp,Bud Grant,Minnesota Vikings,7,Len Dawson,Tulane Stadium,New Orleans,Louisiana,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17-Jan-71,V,79204,Earl Morrall ; Johnny Unitas,Don McCafferty,Baltimore Colts,16,Craig Morton,Tom Landry,Dallas Cowboys,13,Chuck Howley,Orange Bowl,Miami,Florida,3,Norm Schachter,Paul Trepinski,Ed Marion,Jack Fette,Fritz Graf,Hugh Gamber,NaN
5,16-Jan-72,VI,81023,Roger Staubach,Tom Landry,Dallas Cowboys,24,Bob Griese,Don Shula,Miami Dolphins,3,Roger Staubach,Tulane Stadium,New Orleans,Louisiana,21,Jim Tunney,Joe Connell,Al Sabato,Art Holst,Bob Wortman,Ralph Vandenberg,NaN
6,14-Jan-73,VII,90182,Bob Griese,Don Shula,Miami Dolphins,14,Bill Kilmer,George Allen,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles,California,7,Tom Bell,Lou Palazzi,Tony Veteri,Bruce Alford,Tony Skover,Tom Kelleher,NaN
7,13-Jan-74,VIII,71882,Bob Griese,Don Shula,Miami Dolphins,24,Fran Tarkenton,Bud Grant,Minnesota Vikings,7,Larry Csonka,Rice Stadium,Houston,Texas,17,Ben Dreith,Ralph Morcroft,Leo Miles,Jack Fette,Fritz Graf,Stan Javie,NaN
8,12-Jan-75,IX,80997,Terry Bradshaw,Chuck Noll,Pittsburgh Steelers,16,Fran Tarkenton,Bud Grant,Minnesota Vikings,6,Franco Harris,Tulane Stadium,New Orleans,Louisiana,10,Bernie Ulman,Al Conway,Ed Marion,Bruce Alford,Dick Dolack,Ray Douglas,NaN
9,18-Jan-76,X,80187,Terry Bradshaw,Chuck Noll,Pittsburgh Steelers,21,Roger Staubach,Tom Landry,Dallas Cowboys,17,Lynn Swann,Orange Bowl,Miami,Florida,4,Norm Schachter,Joe Connell,Leo Miles,Jack Fette,Bill O'Brien,Stan Javie,NaN
10,9-Jan-77,XI,103438,Kenny Stabler,John Madden,Oakland Raiders,32,Fran Tarkenton,Bud Grant,Minnesota Vikings,14,Fred Biletnikoff,Rose Bowl,Pasadena,California,18,Jim Tunney,Lou Palazzi,Ed Marion,Bill Swanson,Armen Terzian,Tom Kelleher,NaN
11,15-Jan-78,XII,76400,Roger Staubach,Tom Landry,Dallas Cowboys,27,Craig Morton,Red Miller,Denver Broncos,10,Harvey Martin; Randy White,Superdome,New Orleans,Louisiana,17,Jim Tunney,Joe Connell,Tony Veteri,Art Holst,Bob Wortman,Ray Douglas,NaN
12,21-Jan-79,XIII,79484,Terry Bradshaw,Chuck Noll,Pittsburgh Steelers,35,Roger Staubach,Tom Landry,Dallas Cowboys,31,Terry Bradshaw,Orange Bowl,Miami,Florida,4,Pat Haggerty,Art Demmas,Jerry Bergman,Jack Fette,Fred Swearingen,Pat Knight,Dean Look
13,20-Jan-80,XIV,103985,Terry Bradshaw,Chuck Noll,Pittsburgh Steelers,31,Vince Ferragamo,Ray Malavasi,Los Angeles Rams,19,Terry Bradshaw,Rose Bowl,Pasadena,California,12,Fred Silva,Al Conway,Burl Toler,Bob Beeks,Charley Musser,Stan Javie,Ben Tompkins
14,25-Jan-81,XV,76135,Jim Plunkett,Tom Flores,Oakland Raiders,27,Ron Jaworski,Dick Vermeil,Philadelphia Eagles,10,Jim Plunkett,Louisiana Superdome,New Orleans,Louisiana,17,Ben Dreith,Frank Sinkovitz,Tony Veteri,Tom Dooley,Fritz Graf,Tom Kelleher,Dean Look
15,24-Jan-82,XVI,81270,Joe Montana,Bill Walsh,San Francisco 49ers,26,Ken Anderson,Forrest Gregg,Cincinnati Bengals,21,Joe Montana,Pontiac Silverdome,Pontiac,Michigan,5,Pat Haggerty,Al Conway,Jerry Bergman,Bob Beeks,Don Hakes,Bill Swanson,Bob Rice
16,30-Jan-83,XVII,103667,Joe Theismann,Joe Gibbs,Washington Redskins,27,David Woodley,Don Shula,Miami Dolphins,17,John Riggins,Rose Bowl,Pasadena,California,10,Jerry Markbreit,Art Demmas,Dale Hamer,Bill Reynolds,Don Orr,Dick Hantak,Dave Parry
17,22-Jan-84,XVIII,72920,Jim Plunkett,Tom Flores,Los Angeles Raiders,38,Joe Theismann,Joe Gibbs,Washington Redskins,9,Marcus Allen,Tampa Stadium,Tampa,Florida,29,Gene Barth,Gordon Wells,Jerry Bergman,Bob Beeks,Fritz Graf,Gil Mace,Ben Tompkins
18,20-Jan-85,XIX,84059,Joe Montano,Bill Walsh,San Francisco 49ers,38,Dan Marino,Don Shula,Miami Dolphins,16,Joe Montana,Stanford Stadium,Palo Alto,California,22,Pat Haggerty,Tom Hensley,Leo Miles,Ray Dodez,Bob Lewis,Tom Kelleher,Bill Quinby
19,26-Jan-86,XX,73818,Jim McMahon,Mike Ditka,Chicago Bears,46,Tony Eason; Steve Grogan,Raymond Berry,New England Patriots,10,Richard Dent,Louisiana Superdome,New Orleans,Louisiana,36,Red Cashion,Ron Botchan,Dale Williams,Bama Glass,Jack Vaughan,Al Jury,Bob Rice
20,25-Jan-87,XXI,101063,Phil Simms,Bill Parcells,New York Giants,39,John Elway,Dan Reeves,Denver Broncos,20,Phil Simms,Rose Bowl,Pasadena,California,19,Jerry Markbreit,Bob Boylston,Terry Gierke,Bob Beeks,Pat Mallette,Jim Poole,Gil Mace
21,31-Jan-88,XXII,73302,Doug Williams,Joe Gibbs�,Washington Redskins,42,John Elway,Dan Reeves�,Denver Broncos,10,Doug Williams,Jack Murphy Stadium,San Diego,California,32,Bob McElwee,Al Conway,Dale Hamer,Jack Fette,Johnny Grier,Al Jury,Don Wedge
22,22-Jan-89,XXIII,75129,Joe Montana,Bill Walsh�,San Francisco 49ers,20,Boomer Esiason,Sam Wyche,Cincinnati Bengals,16,Jerry Rice,Joe Robbie Stadium,Miami Gardens,Florida,4,Jerry Seeman,Gordon Wells,Jerry Bergman,Bob Beeks,Bobby Skelton,Paul Baetz,Gary Lane
23,28-Jan-90,XXIV,72919,Joe Montana,George Seifert,San Francisco 49ers,55,John Elway,Dan Reeves�,Denver Broncos,10,Joe Montana,Louisiana Superdome,New Orleans,Louisiana,45,Dick Jorgensen,Hendi Ancich,Earnie Frantz,Ron Blum,Don Orr,Al Jury,Gerald Austin
24,27-Jan-91,XXV,73813,Jeff Hostetler,Bill Parcells�,New York Giants,20,Jim Kelly,Marv Levy,Buffalo Bills,19,Ottis Anderson,Tampa Stadium,Tampa,Florida,1,Jerry Seeman,Art Demmas,Sid Semon,Dick McKenzie,Jack Vaughan,Banks Williams,Larry Nemmers

In [4]:
sb.dtypes

Date                object
SB                  object
Attendance           int64
QB  Winner          object
Coach Winner        object
Winner              object
Winning Pts          int64
QB Loser            object
Coach Loser         object
Loser               object
Losing Pts           int64
MVP                 object
Stadium             object
City                object
State               object
Point Difference     int64
Referee             object
Umpire              object
Head Linesman       object
Line Judge          object
Field Judge         object
Back Judge          object
Side Judge          object
dtype: object

In [5]:
# Conversion objet 'date' en datetime format
sb['Date'] = pd.to_datetime(sb['Date'])

In [6]:
print(min(sb['Date']))
print(max(sb['Date']))

1967-01-15 00:00:00
2017-02-05 00:00:00

In [7]:
superbowl = sb[['Date','City']]
superbowl.head()

        Date         City
0 1967-01-15  Los Angeles
1 1968-01-14        Miami
2 1969-01-12        Miami
3 1970-01-11  New Orleans
4 1971-01-17        Miami

In [8]:
print(min(superbowl['Date']))
print(max(superbowl['Date']))

1967-01-15 00:00:00
2017-02-05 00:00:00

In [16]:
superbowl.loc[superbowl['Date'] == '2017-02-05']

         Date     City
50 2017-02-05  Houston

In [24]:
superbowl[45:47]

         Date          City
45 2012-02-05  Indianapolis
46 2013-02-03   New Orleans

## HOLIDAYS API

In [36]:
import requests
# headers = {'Authorization': 'token d597a785-bbb3-4411-aac4-ce054c0f661f'}
response = requests.get("https://holidayapi.com/v1/holidays?key=d597a785-bbb3-4411-aac4-ce054c0f661f&country=US&year=2011") 
test = response.json()

In [37]:
print(response)

<Response [200]>

In [38]:
test

{'holidays': {'2011-01-01': [{'date': '2011-01-01',
    'name': "Durin's Day",
    'observed': '2010-12-31',
    'public': True}],
  '2011-02-23': [{'date': '2011-02-23',
    'name': "Founder's Day",
    'observed': '2011-02-23',
    'public': True}],
  '2011-03-20': [{'date': '2011-03-20',
    'name': 'Weasel Stomping Day',
    'observed': '2011-03-20',
    'public': False}],
  '2011-04-05': [{'date': '2011-04-05',
    'name': 'First Contact Day',
    'observed': '2011-04-05',
    'public': False}],
  '2011-04-06': [{'date': '2011-04-06',
    'name': 'Second Contact Day',
    'observed': '2011-04-06',
    'public': False}],
  '2011-05-10': [{'date': '2011-05-10',
    'name': 'Whacking Day',
    'observed': '2011-05-10',
    'public': False}],
  '2011-05-25': [{'date': '2011-05-25',
    'name': 'The Glorious Twenty-Fifth of May',
    'observed': '2011-05-25',
    'public': False}],
  '2011-06-22': [{'date': '2011-06-22',
    'name': 'Summerween',
    'observed': '2011-06-22',
    'public': False}],
  '2011-07-04': [{'date': '2011-07-04',
    'name': 'Freedom Day',
    'observed': '2011-07-04',
    'public': True}],
  '2011-08-18': [{'date': '2011-08-18',
    'name': 'Mail Order Catalog Day',
    'observed': '2011-08-18',
    'public': False}],
  '2011-08-30': [{'date': '2011-08-30',
    'name': "Mewmaw's Day",
    'observed': '2011-08-30',
    'public': False}],
  '2011-09-20': [{'date': '2011-09-20',
    'name': 'Unification Day',
    'observed': '2011-09-20',
    'public': False}],
  '2011-09-29': [{'date': '2011-09-29',
    'name': 'Hive Day',
    'observed': '2011-09-29',
    'public': False}],
  '2011-10-09': [{'date': '2011-10-09',
    'name': 'Federation Day',
    'observed': '2011-10-09',
    'public': True}],
  '2011-10-31': [{'date': '2011-10-31',
    'name': 'Harry Potter Day',
    'observed': '2011-10-31',
    'public': False}],
  '2011-11-24': [{'date': '2011-11-24',
    'name': 'Hogswatch',
    'observed': '2011-11-24',
    'public': False}],
  '2011-12-23': [{'date': '2011-12-23',
    'name': 'Festivus',
    'observed': '2011-12-23',
    'public': True}],
  '2011-12-25': [{'date': '2011-12-25',
    'name': 'Decemberween',
    'observed': '2011-12-25',
    'public': False},
   {'date': '2011-12-25',
    'name': 'Winter Veil',
    'observed': '2011-12-26',
    'public': True}]},
 'status': 200}