In [36]:
import geopy as gp

In [37]:
from geopy.geocoders import Nominatim
from geopy.distance import great_circle
from geopy.distance import vincenty

In [39]:
airports = ['ORD', 'LAS', 'DEN', 'ATL', 'SFO', 'EWR', 'IAH', 'LAX', 'DFW',
       'SEA', 'JFK', 'PHL', 'MIA', 'DTW', 'BOS', 'MSP', 'CLT', 'MCO', 'PHX', 'LGA']

In [40]:
print(airports[0] + " airport")

ORD airport

In [41]:
print(airports)

['ORD', 'LAS', 'DEN', 'ATL', 'SFO', 'EWR', 'IAH', 'LAX', 'DFW', 'SEA', 'JFK', 'PHL', 'MIA', 'DTW', 'BOS', 'MSP', 'CLT', 'MCO', 'PHX', 'LGA']

In [16]:
l = []
l.append(['SFO', 'LAX', 20])
l.append(['SFO', 'LAX', 20])
l
import pandas as pd
pd.DataFrame(l, columns=['Departure', 'Arrival', 'Distance'])

  Departure Arrival  Distance
0       SFO     LAX        20
1       SFO     LAX        20

In [42]:
distances = []
for departure in airports:
    for arrival in airports:
        str_dep = departure + ' Airport'
        str_arr = arrival + ' Airport'
        
        geolocator = Nominatim()
        dep = geolocator.geocode(str_dep)
        arr = geolocator.geocode(str_arr)
        
        dep = ((dep.latitude, dep.longitude))
        arr = ((arr.latitude, arr.longitude))
        
        distance = great_circle(dep, arr).miles
        distances.append([departure,arrival,distance])

In [34]:
distances

[['ORD', 'ORD', 0.0],
 ['ORD', 'LAS', 7782.400520632297],
 ['ORD', 'DEN', 7782.400520632297],
 ['ORD', 'ATL', 606.77722799409],
 ['ORD', 'SFO', 1842.392671992699],
 ['ORD', 'EWR', 717.385378312417],
 ['ORD', 'IAH', 926.1612487481736],
 ['ORD', 'LAX', 1741.3733517971834],
 ['ORD', 'DFW', 801.5395569678856],
 ['LAS', 'ORD', 7782.400520632297],
 ['LAS', 'LAS', 0.0],
 ['LAS', 'DEN', 0.0],
 ['LAS', 'ATL', 8388.526552507456],
 ['LAS', 'SFO', 6914.831521371821],
 ['LAS', 'EWR', 8054.693963351698],
 ['LAS', 'IAH', 8335.873644890638],
 ['LAS', 'LAX', 7248.768973249514],
 ['LAS', 'DFW', 8111.1776622078505],
 ['DEN', 'ORD', 7782.400520632297],
 ['DEN', 'LAS', 0.0],
 ['DEN', 'DEN', 0.0],
 ['DEN', 'ATL', 8388.526552507456],
 ['DEN', 'SFO', 6914.831521371821],
 ['DEN', 'EWR', 8054.693963351698],
 ['DEN', 'IAH', 8335.873644890638],
 ['DEN', 'LAX', 7248.768973249514],
 ['DEN', 'DFW', 8111.1776622078505],
 ['ATL', 'ORD', 606.7772279940896],
 ['ATL', 'LAS', 8388.526552507456],
 ['ATL', 'DEN', 8388.526552507456],
 ['ATL', 'ATL', 0.0],
 ['ATL', 'SFO', 2135.225846649862],
 ['ATL', 'EWR', 744.9265275185709],
 ['ATL', 'IAH', 687.8735714739183],
 ['ATL', 'LAX', 1942.6859471873074],
 ['ATL', 'DFW', 730.0477097722011],
 ['SFO', 'ORD', 1842.392671992699],
 ['SFO', 'LAS', 6914.831521371821],
 ['SFO', 'DEN', 6914.831521371821],
 ['SFO', 'ATL', 2135.225846649862],
 ['SFO', 'SFO', 0.0],
 ['SFO', 'EWR', 2559.7675207339676],
 ['SFO', 'IAH', 1633.959492041936],
 ['SFO', 'LAX', 338.18350155045977],
 ['SFO', 'DFW', 1461.9407436022254],
 ['EWR', 'ORD', 717.3853783124171],
 ['EWR', 'LAS', 8054.693963351698],
 ['EWR', 'DEN', 8054.693963351698],
 ['EWR', 'ATL', 744.9265275185709],
 ['EWR', 'SFO', 2559.7675207339676],
 ['EWR', 'EWR', 0.0],
 ['EWR', 'IAH', 1397.8953956402283],
 ['EWR', 'LAX', 2449.049323103377],
 ['EWR', 'DFW', 1369.6884782868942],
 ['IAH', 'ORD', 926.1612487481736],
 ['IAH', 'LAS', 8335.873644890638],
 ['IAH', 'DEN', 8335.873644890638],
 ['IAH', 'ATL', 687.8735714739182],
 ['IAH', 'SFO', 1633.959492041936],
 ['IAH', 'EWR', 1397.8953956402283],
 ['IAH', 'IAH', 0.0],
 ['IAH', 'LAX', 1377.2497271355255],
 ['IAH', 'DFW', 225.7535139242299],
 ['LAX', 'ORD', 1741.373351797184],
 ['LAX', 'LAS', 7248.768973249514],
 ['LAX', 'DEN', 7248.768973249514],
 ['LAX', 'ATL', 1942.6859471873074],
 ['LAX', 'SFO', 338.18350155045977],
 ['LAX', 'EWR', 2449.049323103377],
 ['LAX', 'IAH', 1377.2497271355255],
 ['LAX', 'LAX', 0.0],
 ['LAX', 'DFW', 1232.287641215292],
 ['DFW', 'ORD', 801.5395569678856],
 ['DFW', 'LAS', 8111.1776622078505],
 ['DFW', 'DEN', 8111.1776622078505],
 ['DFW', 'ATL', 730.0477097722011],
 ['DFW', 'SFO', 1461.9407436022254],
 ['DFW', 'EWR', 1369.6884782868942],
 ['DFW', 'IAH', 225.75351392423008],
 ['DFW', 'LAX', 1232.287641215292],
 ['DFW', 'DFW', 0.0]]

In [45]:
air_dist = pd.DataFrame(distances, columns=['Departure', 'Arrival', 'Distance'])

In [46]:
print(type(air_dist))

<class 'pandas.core.frame.DataFrame'>

In [47]:
air_dist

    Departure Arrival     Distance
0         ORD     ORD     0.000000
1         ORD     LAS  7782.400521
2         ORD     DEN  7782.400521
3         ORD     ATL   606.777228
4         ORD     SFO  1842.392672
5         ORD     EWR   717.385378
6         ORD     IAH   926.161249
7         ORD     LAX  1741.373352
8         ORD     DFW   801.539557
9         ORD     SEA  1716.316934
10        ORD     JFK   738.456180
11        ORD     PHL   676.916519
12        ORD     MIA  1199.627038
13        ORD     DTW   234.205901
14        ORD     BOS   704.863572
15        ORD     MSP   333.419676
16        ORD     CLT   599.732826
17        ORD     MCO  1008.074186
18        ORD     PHX  1437.672121
19        ORD     LGA   731.823878
20        LAS     ORD  7782.400521
21        LAS     LAS     0.000000
22        LAS     DEN     0.000000
23        LAS     ATL  8388.526553
24        LAS     SFO  6914.831521
25        LAS     EWR  8054.693963
26        LAS     IAH  8335.873645
27        LAS     LAX  7248.768973
28        LAS     DFW  8111.177662
29        LAS     SEA  6489.238552
..        ...     ...          ...
370       PHX     JFK  2149.345951
371       PHX     PHL  2071.819454
372       PHX     MIA  1969.298159
373       PHX     DTW  1668.294792
374       PHX     BOS  1362.392337
375       PHX     MSP  1275.165212
376       PHX     CLT  1770.208615
377       PHX     MCO  1846.045844
378       PHX     PHX     0.000000
379       PHX     LGA  2144.619808
380       LGA     ORD   731.823878
381       LGA     LAS  8051.062975
382       LGA     DEN  8051.062975
383       LGA     ATL   761.218489
384       LGA     SFO  2574.206192
385       LGA     EWR    17.014306
386       LGA     IAH  1414.854675
387       LGA     LAX  2464.577356
388       LGA     DFW  1386.642840
389       LGA     SEA  2406.962444
390       LGA     JFK    10.393127
391       LGA     PHL    94.965612
392       LGA     MIA  1098.818745
393       LGA     DTW   500.463313
394       LGA     BOS  1290.097497
395       LGA     MSP  1018.071627
396       LGA     CLT   543.987991
397       LGA     MCO   952.495617
398       LGA     PHX  2144.619808
399       LGA     LGA     0.000000

[400 rows x 3 columns]

In [49]:
airports.count()

TypeError: count() takes exactly one argument (0 given)